/AgroItesz/nbproject/private/
/AgroItesz/build/
/AgroItesz/dist/
*.class
*.class
AgroItesz/build/web/WEB-INF/classes/Controlador/Controlador.class
AgroItesz/build/web/WEB-INF/classes/Controlador/Controlador.class
AgroItesz/build/web/WEB-INF/classes/Controlador/Controlador.class
AgroItesz/build/web/WEB-INF/classes/Controlador/Controlador.class
AgroItesz/build/web/WEB-INF/classes/Controlador/Controlador.class
AgroItesz/build/web/WEB-INF/classes/Controlador/Controlador.class
AgroItesz/build/web/WEB-INF/classes/Controlador/Controlador.class
AgroItesz/build/web/WEB-INF/classes/Controlador/Controlador.class
