/AgroItesz/nbproject/private/
/AgroItesz/build/
AgroItesz/nbproject/private/private.properties
AgroItesz/nbproject/private/private.properties
AgroItesz/nbproject/private/private.properties
AgroItesz/nbproject/private/private.properties
AgroItesz/nbproject/private/private.properties
AgroItesz/nbproject/private/private.properties
*.properties
*.properties
*.properties
*.properties
*.class
